<h2>Add some items </h2>
<form>
  <div class='container'>
    <div class='form-row' *ngFor='let obj of formData; let i = index'>
      <div class='group'>
        <label> Item </label>
        <input type="text" name='item{{i}}' [(ngModel)]="obj.item" class='form-control'>
      </div>

      <div class='group'>
        <label> Expiration Date </label>
        <input type="date" name='expDate{{i}}' [(ngModel)]='obj.expDate' class='form-control'>
      </div>

      <div class='group' *ngIf='i != 0'>
        <button mat-raised-button (click)='removeForm(i)' color='warn'>Delete</button>
      </div>
    </div>
    <button mat-raised-button class='add' (click)='addForm()' color='accent'> Add Another</button>
    <button mat-raised-button class='submit' (click)='addToFridge()' color='primary'> Submit </button>
  </div>
</form>
