<table>
  <tr class='headers' *ngIf="allItems.length != 0">
    <th>Item</th>
    <th>Expiration Date</th>
  </tr>
  <tr *ngFor="let obj of allItems; let i = index">
      <td>{{ obj.item }} </td>
      <td>{{ obj.expDate }} </td>
      <td> <a mat-button color='accent' [routerLink]="['/edit', obj.id, obj.item, obj.expDate]"> Edit </a> </td>
      <td> <button mat-raised-button color='warn' (click)="deleteItem(obj.id, i)" #deleteButton>X</button> </td>
  </tr>
</table>
<button mat-raised-button color='primary' [routerLink]="['']">Add More Items</button>
